In [13]:
import pandas as pd
import numpy as np

In [14]:
df = pd.read_csv(r'C:\Users\ishwa\OneDrive\Desktop\dft_rawcount_local_authority_id_144.csv')

In [15]:
df

,count_point_id,direction_of_travel,year,count_date,hour,region_id,region_name,local_authority_id,local_authority_name,road_name,...,buses_and_coaches,lgvs,hgvs_2_rigid_axle,hgvs_3_rigid_axle,hgvs_4_or_more_rigid_axle,hgvs_3_or_4_articulated_axle,hgvs_5_articulated_axle,hgvs_6_articulated_axle,all_hgvs,all_motor_vehicles
0,966008,E,2003,26/09/2003,7,1,South West,144,"Bristol, City of",U,...,0,2,0,0,0,0,0,0,0,10
1,966008,E,2003,26/09/2003,8,1,South West,144,"Bristol, City of",U,...,1,1,0,0,0,0,0,0,0,40
2,966008,E,2003,26/09/2003,9,1,South West,144,"Bristol, City of",U,...,0,0,0,0,0,0,0,0,0,22
3,966008,E,2003,26/09/2003,10,1,South West,144,"Bristol, City of",U,...,0,2,0,0,0,0,0,0,0,16
4,966008,E,2003,26/09/2003,11,1,South West,144,"Bristol, City of",U,...,0,1,0,0,0,0,0,0,0,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26863,966011,E,2003,20/03/2003,8,1,South West,144,"Bristol, City of",U,...,2,12,0,0,0,0,0,0,0,158
26864,966011,E,2003,20/03/2003,9,1,South West,144,"Bristol, City of",U,...,1,10,0,0,0,0,0,0,0,63
26865,966011,E,2003,20/03/2003,10,1,South West,144,"Bristol, City of",U,...,0,12,0,1,0,0,0,0,1,51
26866,966011,E,2003,20/03/2003,11,1,South West,144,"Bristol, City of",U,...,0,10,1,0,0,0,0,0,1,79
26867,966011,E,2003,20/03/2003,12,1,South West,144,"Bristol, City of",U,...,0,9,1,0,0,0,0,0,1,89

In [16]:
df = df.sort_values(by='year')

In [17]:
df

,count_point_id,direction_of_travel,year,count_date,hour,region_id,region_name,local_authority_id,local_authority_name,road_name,...,buses_and_coaches,lgvs,hgvs_2_rigid_axle,hgvs_3_rigid_axle,hgvs_4_or_more_rigid_axle,hgvs_3_or_4_articulated_axle,hgvs_5_articulated_axle,hgvs_6_articulated_axle,all_hgvs,all_motor_vehicles
3743,990068,E,2000,26/06/2000,18,1,South West,144,"Bristol, City of",B4465,...,10,59,5,0,0,0,0,0,5,634
2925,73295,S,2000,11/10/2000,8,1,South West,144,"Bristol, City of",A4018,...,8,66,7,0,0,0,0,0,7,722
2924,73295,S,2000,11/10/2000,7,1,South West,144,"Bristol, City of",A4018,...,8,60,5,0,0,0,1,0,6,451
2923,73295,N,2000,11/10/2000,18,1,South West,144,"Bristol, City of",A4018,...,6,31,8,0,0,1,0,0,9,738
2922,73295,N,2000,11/10/2000,17,1,South West,144,"Bristol, City of",A4018,...,6,28,2,0,0,1,0,0,3,771
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12237,99507,S,2020,11/06/2020,7,1,South West,144,"Bristol, City of",A4320,...,2,187,26,4,7,3,9,6,55,817
12236,99507,S,2020,11/06/2020,18,1,South West,144,"Bristol, City of",A4320,...,3,97,4,0,1,1,1,6,13,704
12235,99507,S,2020,11/06/2020,17,1,South West,144,"Bristol, City of",A4320,...,3,142,7,1,1,0,3,4,16,846
12233,99507,S,2020,11/06/2020,15,1,South West,144,"Bristol, City of",A4320,...,3,261,42,6,10,3,3,6,70,1074
12339,81538,N,2020,17/07/2020,13,1,South West,144,"Bristol, City of",A3029,...,24,253,72,8,22,10,7,20,139,1758

In [18]:
df.isnull().sum()

count_point_id                      0
direction_of_travel                 0
year                                0
count_date                          0
hour                                0
region_id                           0
region_name                         0
local_authority_id                  0
local_authority_name                0
road_name                           0
road_type                           0
start_junction_road_name        16608
end_junction_road_name          16608
easting                             0
northing                            0
latitude                            0
longitude                           0
link_length_km                  16608
link_length_miles               16608
pedal_cycles                        0
two_wheeled_motor_vehicles          0
cars_and_taxis                      0
buses_and_coaches                   0
lgvs                                0
hgvs_2_rigid_axle                   0
hgvs_3_rigid_axle                   0
hgvs_4_or_more_rigid_axle           0
hgvs_3_or_4_articulated_axle        0
hgvs_5_articulated_axle             0
hgvs_6_articulated_axle             0
all_hgvs                            0
all_motor_vehicles                  0
dtype: int64

In [19]:
#Dropping unwanted columns
cols = [11,12,17,18]
df.drop(df.columns[cols],axis=1,inplace=True)

In [20]:
df

,count_point_id,direction_of_travel,year,count_date,hour,region_id,region_name,local_authority_id,local_authority_name,road_name,...,buses_and_coaches,lgvs,hgvs_2_rigid_axle,hgvs_3_rigid_axle,hgvs_4_or_more_rigid_axle,hgvs_3_or_4_articulated_axle,hgvs_5_articulated_axle,hgvs_6_articulated_axle,all_hgvs,all_motor_vehicles
3743,990068,E,2000,26/06/2000,18,1,South West,144,"Bristol, City of",B4465,...,10,59,5,0,0,0,0,0,5,634
2925,73295,S,2000,11/10/2000,8,1,South West,144,"Bristol, City of",A4018,...,8,66,7,0,0,0,0,0,7,722
2924,73295,S,2000,11/10/2000,7,1,South West,144,"Bristol, City of",A4018,...,8,60,5,0,0,0,1,0,6,451
2923,73295,N,2000,11/10/2000,18,1,South West,144,"Bristol, City of",A4018,...,6,31,8,0,0,1,0,0,9,738
2922,73295,N,2000,11/10/2000,17,1,South West,144,"Bristol, City of",A4018,...,6,28,2,0,0,1,0,0,3,771
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12237,99507,S,2020,11/06/2020,7,1,South West,144,"Bristol, City of",A4320,...,2,187,26,4,7,3,9,6,55,817
12236,99507,S,2020,11/06/2020,18,1,South West,144,"Bristol, City of",A4320,...,3,97,4,0,1,1,1,6,13,704
12235,99507,S,2020,11/06/2020,17,1,South West,144,"Bristol, City of",A4320,...,3,142,7,1,1,0,3,4,16,846
12233,99507,S,2020,11/06/2020,15,1,South West,144,"Bristol, City of",A4320,...,3,261,42,6,10,3,3,6,70,1074
12339,81538,N,2020,17/07/2020,13,1,South West,144,"Bristol, City of",A3029,...,24,253,72,8,22,10,7,20,139,1758

In [21]:
df.isnull().sum()

count_point_id                  0
direction_of_travel             0
year                            0
count_date                      0
hour                            0
region_id                       0
region_name                     0
local_authority_id              0
local_authority_name            0
road_name                       0
road_type                       0
easting                         0
northing                        0
latitude                        0
longitude                       0
pedal_cycles                    0
two_wheeled_motor_vehicles      0
cars_and_taxis                  0
buses_and_coaches               0
lgvs                            0
hgvs_2_rigid_axle               0
hgvs_3_rigid_axle               0
hgvs_4_or_more_rigid_axle       0
hgvs_3_or_4_articulated_axle    0
hgvs_5_articulated_axle         0
hgvs_6_articulated_axle         0
all_hgvs                        0
all_motor_vehicles              0
dtype: int64

In [22]:
df.to_csv('dft_rawcount_local_authority_id_144.csv')