In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('ID2019 Deprivation Decile - Postcode Feb 2019 lookup.xlsx',skiprows = 9)

In [3]:
df.head(10)

,Postcode (single space),GEOWD18 code,Geographical Ward 2018 name,STATWD18 code,Statistical Ward 2018 name [Bestfit],LSOA11 code,LSOA11 local name,IMD2019 LSOA England Rank,IMD2019 England % Rank,IMD2019 England Deprivation Decile,IMD2019 LSOA Bristol Rank,IMD2019 Bristol Deprivation Decile
0,BS1 1AD,E05010907,Lawrence Hill,E05010907,Lawrence Hill,E01033358,Cabot Circus,1501,0.045701,England decile 1 - Most Deprived,20,Bristol decile 1 - Most Deprived
1,BS1 1BU,E05010892,Central,E05010892,Central,E01014540,City Centre and Queens Square,12154,0.370052,England decile 4,135,Bristol decile 6
2,BS1 1DA,E05010892,Central,E05010892,Central,E01014540,City Centre and Queens Square,12154,0.370052,England decile 4,135,Bristol decile 6
3,BS1 1DB,E05010892,Central,E05010892,Central,E01014540,City Centre and Queens Square,12154,0.370052,England decile 4,135,Bristol decile 6
4,BS1 1DD,E05010907,Lawrence Hill,E05010907,Lawrence Hill,E01014654,St Judes,1881,0.057271,England decile 1 - Most Deprived,27,Bristol decile 1 - Most Deprived
5,BS1 1DE,E05010892,Central,E05010892,Central,E01014540,City Centre and Queens Square,12154,0.370052,England decile 4,135,Bristol decile 6
6,BS1 1DL,E05010892,Central,E05010892,Central,E01014540,City Centre and Queens Square,12154,0.370052,England decile 4,135,Bristol decile 6
7,BS1 1DP,E05010892,Central,E05010892,Central,E01014540,City Centre and Queens Square,12154,0.370052,England decile 4,135,Bristol decile 6
8,BS1 1DQ,E05010892,Central,E05010892,Central,E01014540,City Centre and Queens Square,12154,0.370052,England decile 4,135,Bristol decile 6
9,BS1 1DR,E05010892,Central,E05010892,Central,E01014540,City Centre and Queens Square,12154,0.370052,England decile 4,135,Bristol decile 6

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11543 entries, 0 to 11542
Data columns (total 12 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Postcode (single space)                11543 non-null  object
 1   GEOWD18 code                           11543 non-null  object
 2   Geographical Ward 2018 name            11543 non-null  object
 3   STATWD18 code                          11543 non-null  object
 4   Statistical Ward 2018 name [Bestfit]   11543 non-null  object
 5   LSOA11 code                            11543 non-null  object
 6   LSOA11 local name                      11543 non-null  object
 7   IMD2019 LSOA England Rank              11543 non-null  int64
 8   IMD2019 England % Rank                 11543 non-null  float64
 9   IMD2019 England Deprivation Decile     11543 non-null  object
 10  IMD2019 LSOA Bristol Rank              11543 non-null  int64
 11  IMD2019 Bristol Deprivation Decile     11543 non-null  object
dtypes: float64(1), int64(2), object(9)
memory usage: 1.1+ MB

In [5]:
df['IMD2019 England Deprivation Decile'].unique()

array(['England decile 1 - Most Deprived', 'England decile 4',
       'England decile 6', 'England decile 2', 'England decile 5',
       'England decile 3', 'England decile 7', 'England decile 9',
       'England decile 8', 'England decile 10 - Least Deprived'],
      dtype=object)

In [6]:
df['IMD2019 Bristol Deprivation Decile'].unique()

array(['Bristol decile 1 - Most Deprived', 'Bristol decile 6',
       'Bristol decile 7', 'Bristol decile 3', 'Bristol decile 2',
       'Bristol decile 5', 'Bristol decile 4', 'Bristol decile 8',
       'Bristol decile 9', 'Bristol decile 10 - Least Deprived'],
      dtype=object)

In [7]:
df = df.replace('England decile 1 - Most Deprived', 1)
df = df.replace('Bristol decile 1 - Most Deprived',1)

df = df.replace('England decile 2', 2)
df = df.replace('Bristol decile 2', 2)

df = df.replace('England decile 3', 3)
df = df.replace('Bristol decile 3', 3)

df = df.replace('England decile 4', 4)
df = df.replace('Bristol decile 4', 4)

df = df.replace('England decile 5', 5)
df = df.replace('Bristol decile 5', 5)

df = df.replace('England decile 6', 6)
df = df.replace('Bristol decile 6', 6)

df = df.replace('England decile 7', 7)
df = df.replace('Bristol decile 7', 7)

df = df.replace('England decile 8', 8)
df = df.replace('Bristol decile 8', 8)

df = df.replace('England decile 9', 9)
df = df.replace('Bristol decile 9', 9)

df = df.replace('Bristol decile 10 - Least Deprived', 10)
df = df.replace('England decile 10 - Least Deprived',10)

In [8]:
df['IMD2019 Bristol Deprivation Decile'].unique()

array([ 1,  6,  7,  3,  2,  5,  4,  8,  9, 10], dtype=int64)

In [10]:
df['IMD2019 England Deprivation Decile'].unique()

array([ 1,  4,  6,  2,  5,  3,  7,  9,  8, 10], dtype=int64)

In [14]:
df.to_csv('cleaneddepriv.csv')