In [46]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [43]:
df = pd.read_excel('Bristol_Mobility_Report_2020-2022.xlsx')
df = df.drop(columns=['country_region_code', 'sub_region_2', 'metro_area', 'iso_3166_2_code', 'census_fips_code', 'place_id',
            'Unnamed: 15'], axis=1)
df.head(10)

,country_region,sub_region_1,date,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential
0,United Kingdom,Bristol City,2020-02-15,-17,-10,-48,-9,-4,3
1,United Kingdom,Bristol City,2020-02-16,-7,-5,-34,-1,-1,1
2,United Kingdom,Bristol City,2020-02-17,5,-1,11,-3,-11,2
3,United Kingdom,Bristol City,2020-02-18,11,0,12,-3,-9,2
4,United Kingdom,Bristol City,2020-02-19,5,-3,-16,-2,-9,2
5,United Kingdom,Bristol City,2020-02-20,7,-1,3,-4,-10,2
6,United Kingdom,Bristol City,2020-02-21,7,-1,12,4,-12,2
7,United Kingdom,Bristol City,2020-02-22,-3,-5,-8,10,0,0
8,United Kingdom,Bristol City,2020-02-23,3,-1,6,13,2,-1
9,United Kingdom,Bristol City,2020-02-24,-7,-3,-15,-1,-1,1

In [50]:
df.plot.line(x="date")
plt.show()

In [49]:
sns.lineplot(data=df)