In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("Noninterpolated_timeseries.csv")

In [3]:
df['Year']=pd.to_datetime(df['Year'])

In [4]:
df.set_index('Year', inplace=True)

In [5]:
df

            Average Annual Income  Population Estimate
Year
2011-04-01                  27126               428074
2012-04-01                  26317               433043
2013-04-01                  28074               438386
2014-04-01                  28229               443791
2015-04-01                  28348               449328
2016-04-01                  28815               454213
2017-04-01                  28222               459252
2018-04-01                  30317               463405
2019-04-01                  30795               463377
2020-04-01                  32982               465866

In [6]:
df=df.resample('1M').agg('max')

In [7]:
df=df.interpolate(method='time').reset_index()

In [8]:
df.rename(columns={'Year':'Date'})

          Date  Average Annual Income  Population Estimate
0   2011-04-30           27126.000000        428074.000000
1   2011-05-31           27057.478142        428494.871585
2   2011-06-30           26991.166667        428902.166667
3   2011-07-31           26922.644809        429323.038251
4   2011-08-31           26854.122951        429743.909836
..         ...                    ...                  ...
104 2019-12-31           32258.975410        465043.133880
105 2020-01-31           32444.213115        465253.950820
106 2020-02-29           32617.500000        465451.166667
107 2020-03-31           32802.737705        465661.983607
108 2020-04-30           32982.000000        465866.000000

[109 rows x 3 columns]

In [9]:
df.to_csv("Interpolated_IncomeandPopulation.csv")